* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dcdcdc;
  font-family: arial,helvetica, sans-serif;
  overflow-x: hidden ;
}
.header {
  width: 100%;
}
.navbar {
  width: 100%;
 min-height: 700px;
 margin-top: 7px;
  background-image: url('../assets/caldanav-chocolate.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  display: flex;
  align-items: flex-start;
  padding-top: -40px;
  padding-left: 50px;

}
.nav-links {
  display: flex;
  gap: 60px;
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: rgb(15, 15, 16);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s ease;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7),
  0 0 10px rgba(0, 0, 0, 0.4);
}
.nav-links li a:hover {
  transform: translateY(3px);
  text-shadow: 0 0 10px rgb(137, 20, 161),
  0 0 20px rgb(44, 15, 130);

}

.titulo-principal {
  margin-top: 10px;
}